.img {
  width: 20rem
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form{
  text-align: center;
}
.button-upload{
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border:none;
  background-color: rgb(77, 77, 199);
  color: white;
  box-shadow: 3px 3px 3px #888;
  margin: 10px;
  cursor: pointer;
}
.progress{
  width:100%;
  margin-bottom: 10px;
  color: red;
}